<h1>search for a song 🅱️</h1>

<%= form_for @conn, Routes.song_request_path(@conn, :new), [method: :get, class: "pull-right"], fn f -> %>
  <%= search_input f, :query %>
  <%= submit "bet" %>
<% end %>

<%= for result <- @results do %>
  <div class="result">
    <img src="<%= result.snippet.thumbnails.medium.url %>" />
    <h4><%= result.snippet.title %></h4>
    <p><%= result.snippet.description %></p>
  </div>
<% end %>

<span><%= link "Back", to: Routes.song_request_path(@conn, :index) %></span>
